<!-- cambiar la consistencia  -->
<table class="table table-sm">
    <thead class="table-active">
        <tr>
            <th>Id</th>
            <th>Cliente</th>
            <th>Ubicación</th>
            <th>Evento</th>
            <th>Fecha Inicio</th>
            <th>Fecha Fin</th>
            <th>Estado</th>
        </tr>
    </thead>
    <tbody>
        {% for evento in eventos %}
        <tr>
            <td>{{ evento.idEvento }}</td>
            <td>{{ evento.nombreCliente }}</td>
            <td>{{ evento.descripcionUbicacion }}</td>
            <td>{{ evento.descripcionEvento }}</td>
            <td>{{evento.fechaInicio }}</td>
            <td>{{ evento.fechaFin }}</td>
            <td>{{ evento.estado }}</td>
        </tr>
    </tbody>
        {% endfor %}
</table>