<table class="table table-sm">
    <thead class="table-active">
        <tr>
            <th>Id Cliente</th>
            <th>Nombre</th>
            <th>Teléfono</th>
            <th>Correo Electrónico</th>
        </tr>
    </thead>
        {% for cliente in clientes %}
    <tbody>
            <td>{{ cliente.idCliente }}</td>
            <td>{{ cliente.nombreCliente }}</td>
            <td>{{ cliente.telefono }}</td>
            <td>{{ cliente.correoElectronico }}</td>
        </tr>
    </tbody>
        {% endfor %}
</table>
