<table class="table table-sm">
    <thead class="table-active">
        <tr>
            <th>Id Cliente</th>
            <th>Nombre</th>
            <th>Teléfono</th>
            <th>Correo Electrónico</th>
        </tr>
    </thead>
    <tbody>
        <!-- ng-repeat, solo cambiar el nombre  -->
        <tr ng-repeat="x in clientes">
            <td scope="col">{{ x.idCliente }}</td>
            <td scope="col">{{ x.nombreCliente }}</td>
            <td scope="col">{{ x.telefono }}</td>
            <td scope="col">{{ x.correoElectronico }}</td>
        </tr>
    </tbody>
</table>
